/* container */
.container{
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1486218119243-13883505764c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80);
    /* image를 확대 축소하여 다 덮도록 함 */
    background-size: cover;
    background-position: center;
}

.container .wrap_contents{
    width: 70%;
    position: absolute;
    top: 150px;
    left: 100px;
    display: flex;
    flex-direction: column;
}

.wrap_contents h1{
    font-size: 46px;
    line-height: 1.35;
}
.wrap_contents #small_text{
    display: none;
}

.wrap_contents .linkbtn{
    background-color: black;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 30px;
}
.linkbtn:hover{
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .container .wrap_contents{
        align-items: center;
        width: 80%;
        left: 10vw;
        top: 20vh;
    }
    .wrap_contents h1{
        text-align: center;
    }
    .wrap_contents #big_text{
        display: none;
    }
    .wrap_contents #small_text{
        display: block;
    }
}

@media screen and (max-width:768px) {
    .container .wrap_contents{
        top: 120px;
        left: 50px;
    }
    .wrap_contents h1{
        font-size: 28px;
    }
}

