footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    padding: 16px 30px;
    border-top: 1px solid rgb(180, 170, 170);
    background-color: white;
}

@media screen and (max-width:1024px){
    footer{
        display: none;
    }
}