body, html{
    margin: 0;
}
/* header */
.navbar{
    backdrop-filter: blur(30px);
    width: 100%;
}


/* section */
.container{
    /* 상단 navbar 높이 */
    padding-top: 156px;  
    padding-bottom: 100px;
}
.roadmap, .track{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.road_title, .track_title{
    width: 100%;
    padding: 60px;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.1rem;
}
.road_title p, .track_title p{
    font-size: 20px;
}

/* start road section */
.road_content{
    background: #FAFAFA;
    background-image: url('https://www.kakaotechcampus.com/static/user/images/kakao/program_spot.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: x y */
    background-position: center 50px;
    width: 90%;
    height: 580px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.road_content_box{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70%;
    width: 80%;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 10px;
}
.stage1, .stage2, .stage3{
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stage1{
    align-self: flex-end;
}
.stage2{
    align-self: center;
}
.stage3{
    align-self: flex-start;
}
.road_content p{
    text-align: center;
    letter-spacing: -0.1rem;
}
.road_content_box .txt{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
/* end road section */

/* start track section */
.track_title{
    padding-top: 150px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track_btn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.track_btn button{
    width: 240px;
    height: 56px;
    font-size: 20px;
    background-color: #FAFAFA;
    color: #999;
    border-radius: 28px;
    border: 0px;
    margin: 0px 20px;
}
.track_btn button.active{    
    background-color: #634Bff;
    color: white;   
}
.track_btn button:hover{
    cursor: pointer;
}

/* track_content */
.track_content_m, .track_content_s{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.track_content_box{
    max-width: 1100px;
    width: 80%;
    background: #FAFAFA;
    margin: 40px 50px 0px 50px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.track_content_box p{
    text-align: left;
    /* 자간 설정 */
    letter-spacing: -0.1rem;
    line-height: 1.5;
}
.track_content_box button{
    width: 60px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #FAFAFA;
    border: 1px solid black;
    border-radius: 20px;
}
.track_content_box img{
    width: 50px;
}
.track_content_box .cont_title{
    font-size: 2rem;
    font-weight: bold;
}

#guide{
    padding-top: 10px;
    font-weight: bold;
    color: #999;
}
/* end track section */

/* footer */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 20px;
    padding: 16px 30px;
    border-top: 1px solid rgb(180, 170, 170);
    background-color: white;
}

@media screen and (max-width:1024px) {
    .road_content{
        width: 95%;
    }
    .track_content_box{
        align-items: center;
    }
    .track_content_box .cont_title{
        font-size: 1.7rem;
        text-align: center;
    }
}

@media screen and (max-width:968px) {
    .road_content{
        background: #FAFAFA;
        background-image: url(https://www.kakaotechcampus.com/static/user/images/kakao/program_spot_m.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto calc(95%);
        /* 내용물에 의해 height 정해짐 */
        height: auto;
        
    }
    .road_content_box{
        flex-direction: column;
        margin: 125px 0px;
    }
    .stage1, .stage2, .stage3{
        align-self: center;
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .road_title, .track_title{
        font-size: 1.3rem;
    }
    .road_title p, .track_title p{
        font-size: 1rem;
    }
}
