body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100%;
}
.navbar_logo{
    position:absolute;
    left: 48px;
    top:24px
}
.navbar_logo img{
    width: 100px;
    height: 100px;
}

.navbar_menu{
    width: 100%;
    padding: 40px;
    display: flex;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    justify-content: end;
}
.navbar_menu li{
    padding: 30px 20px;
}
.navbar_menu a{
    font-size: 2rem;
}
.navbar_menu li:hover a{
    border-bottom: 2px solid black;
}

.navbar_btn{
    position: absolute;
    right: 64px;
    top: 72px;
    display: none;
}
.navbar_btn img{
    width: 36px;
    height: 36px;
}
.navbar_btn #btn_close{
    display: none;
}

@media screen and (max-width:1024px) {
    .navbar{
        justify-content: flex-end;
        z-index: 3;
    }

    .navbar_btn{
        display: block;
    }
    .navbar_btn.active{
        top: 30px;
        right: 30px;
    }
    .navbar_btn.active #btn_menu{
        display: none;
    }
    .navbar_btn.active #btn_close{
        display: block;
    }
    .navbar_btn.active img{
        width: 16px;
        height: 16px;
    }
    

    .navbar_menu li{
        display: none;
        text-align: left;
        border-bottom: 1px solid black;
    }
    .navbar_menu.active li{
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .navbar_menu.active{
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        height: 80vh;
        margin:0px;
        padding:100px 30px;
        background: rgba(255,255,255,.95);
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.16);
        backdrop-filter: blur(2px);
    }
    .navbar_menu.active li:hover a{
        border-bottom: 0px;
    }

}
@media screen and (max-width:560px) {
    .navbar_menu.active{
        width: 100%;
    }
    
}