body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display:flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
}

.navbar_logo{
    position: absolute;
    left: 50px;
    top: 20px;
}
.navbar_logo img{
    width: 100px;
    height: 100px;
}

.navbar_menu{
    display: flex;
    margin: 0px;
    padding: 50px 36px;
    list-style: none;
}
.navbar_menu li{
    padding: 12px 30px;
}
.navbar_menu a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar_menu li:hover a{
    border-bottom: 2px solid black;
}

.navbar_btn{
    position: absolute;
    right: 56px;
    top: 56px;
    display: none;
}
.navbar_btn img{
    width: 36px;
    height: 36px;
}

@media screen and (max-width:1024px) {
    .navbar{
        z-index: 2;
    }
    .navbar_menu{
        display: none;
    }
    
    .navbar_btn{
        display: block;
    }
    .navbar_btn #btn_close{
        display: none;
    }
    
    .navbar.active .navbar_btn{
        top: 30px;
        right: 30px;
    }
    .navbar.active #btn_close{
        display: block;
    }
    .navbar.active #btn_menu{
        display: none;
    }
    .navbar.active .navbar_btn img{
        width: 16px;
        height: 16px;
    }

    .navbar.active .navbar_menu{
        display: flex;
        font-weight: bold;
        flex-direction: column;
        padding-top: 100px;
        width: 42%;
        height: 100vh;
        background: rgba(255,255,255,.95);
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.16);
        /* blurring effect */
        backdrop-filter: blur(2px);
        /* animation */
        transition: width 0.5s ease-in-out;
    }
    .navbar.active .navbar_menu li{
        padding: 24px 12px;
        border-bottom: 1px solid rgb(178, 174, 174);
    }
    .navbar.active .navbar_menu li:hover a{
        border-bottom: 0px;
    }

}
@media screen and (max-width:768px) {
    .navbar_logo{
        position: absolute;
        left: 32px;
    }
    .navbar_logo img{
        width: 50px;
        height: 50px;
    }

    .navbar_btn{
        position: absolute;
        right: 32px;
        top: 32px;
    }
    .navbar_btn img{
        width: 28px;
        height: 28px;
    }

    .navbar.active .navbar_menu{
        width: 100%;
    }
}